@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%*/
  /*filter: blur(2px);*/
  margin: auto;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 20px;
  padding: 15px;
  text-align: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #7AC9AB;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #7AC9AB;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

h1 {
    text-align: center;
}

.add-test-form {
  text-align: center;
}

label {
  padding: 10px;
  font-size: 18px;
}

.title-area{
  margin: 30px;
}

.form-area{
  width:100%; 
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.form-container{
  width:100%;
  max-width: 800px;
}

form {
  border-radius: 20px;
  padding: 20px;
  background-color: #BDFEBB;
  border: 1px solid #b0b0b0;
}

.form-input{
  width:100%;
}

.form-input label {
  font-weight: 600;
}

.form-picture-input label {
  font-weight: 600;
}

#fileButton{
  margin-bottom: 20px;
}

.form-selector select{
  width: 90%;
  color: #b3b3b3;
  height: 50px;;
}

@media(max-width: 776px){
  .form-selector select{
    width: 100%;
  }
}

.form-input input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b0b0b0;
  padding: 5px;
}

.form-input textarea {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  border-radius: 5px;
  border: 1px solid #b0b0b0;
  padding: 5px;
}

#create-post-button{
  width: 150px;
  height: 35px;
  background-color: #f3f3f3;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  border: 1px solid #b0b0b0;
  padding: 5px;
}