@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: #F9FFFF; /* fallback for old browsers */
    /* background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F); */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}

h1 {
    color: #5ef4;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
}

.container .post {
    height: 90%;
    min-width: 300px;
}

.container .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 1000px){
    .container .post {
        width: 400px;
    }
}

.container .post img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.container button {
    background-color: #a0ff9c;
    border:none;
    border-radius: 10%;
    outline:none;
    padding: 15px;
    margin: 10%;
    opacity: 0.7;
    transition:opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

.container .tags { 
    color: black;
    background-color: #7AC9AB;
    border-radius: 10%;
    margin: 10px;
    font-size: 14px;
    padding: 0;
}

.container button:hover {
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

.container button h2, h6 {
    text-align: center;
}

.login-page {
    width: 360px;
    margin: auto;
}

.title-text {
    text-align: center;
}

#post-result-header{
    margin-top: 3%;
    margin-left: 10%;
    color: black;
    font-weight: 600;
}

.navbar {
    width: 100%;
    background-color: #7AC9AB;
    overflow: auto;
}

.navbar img{
    height: 30px;
}

.navbar input{
    width: 50%;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
/*fix*/
.navbar input::after {
    background-image: url(../images/search.png);
    display: inline-block;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 96px 0;
    vertical-align: middle;
}

  /* Navbar links */
.navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

#logo-image{
    height:75px;
    width: 150px;
}

#logo-image-2{
    height:75px;
    width: 150px;
}

@media (max-width: 830px){
    #logo-image{
        height:70px;
        width: 75px;
    }

    #search-bar{
        width: 40%;
    }

    #image-link{
        margin: 0px;
    }
}

#image-link{
    margin: 10px;
}

.image-link-container{
    float:right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 600px){
    #logo-image{
        height:70px;
        width: 75px;
    }

    #search-bar{
        width: 30%;
    }
}

/* Code for profile.html */
.user-information-field{
    border-right: 1px solid #b0b0b0;
    text-align: right;
}